div.selector-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label.selector-title {
    font-size: calc(2rem + 1vw);
    color: white;
}

label.selector-progress {
    font-size: calc(1rem + 1vw);
    color: white;
}


div.selector-cards {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.parent {
  padding-bottom: 33.33%;
  position: relative;
  width: 100%;
  height: 0;
}

.child {
  background: url('https://satyr.io/1200x768/400') 50% 50%/cover no-repeat #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}